* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

body {
    font-family: 'Cinzel', serif;
    background-image: url(../Desafio02/img/background01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    padding-top: 160px;
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;

    color: #151718;
}

h1 span {
    color: #DB2777;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: rgba(44, 46, 47, 0.9);
}

.section__button  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

a {
    padding: 12px 32px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transition: all .3s ease-in-out;
    color: black;
    opacity: .6;
    align-items: center;
    border: none;
}

a:hover,
.btn__play__2 {
    text-decoration: none;
    color: white;
    background-color: #ffc700;
    opacity: 1;
    border-radius: 8px;
}

.btn__play__2:hover {
    background: black;
    color: white;
}